@use "../../styles/variables" as *;

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 1rem 2rem;
  background-color: $white;
  border-bottom: 1px solid #eee;

  .header-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // max-width: $max-width;
    margin: 0 auto;
  }
  .nav-menu a {
    margin-left: 20px;
    text-decoration: none;
    color: $text-main;
    font-weight: 500;
  }
}